/* App Styles */
.App {
margin: 3px;
font-family: 'Trocchi', serif;

}

.app-content {
margin-top: 70px;
}
.content {
  display:grid;
  grid-template-columns: 20% 80%;
  column-gap: 10px;

}




@media (max-width: 400px) {
  .app-content {
    display:grid;
    grid-template-columns: 20% 80%;
    column-gap: 10px;
  }
}

.auth-page {
 width: 80%;
 align-self: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
nav {
  display: grid;
  grid-area: sidebar;
  color: black;
  font-size: 20px;
}
a:hover {
  color: blue;
}

a {
  color: black;
}


