/* Styles for the NewPostPage component */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form {
    /* max-width: 500px; */
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="date"],
  select,
  button[type="submit"],
  input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  select {
    height: 36px;
  }
  
  button[type="submit"] {
    background-color: var(--brand-primary-color);
    color: white;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  
  /* Additional styles for customizing the form appearance */
  form label,
  form input,
  form select,
  form button {
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  form label:focus-within,
  form input:focus,
  form select:focus,
  form button:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  