.h1 {
    color:  #292929;
    text-align: center;
    font: 700 48px "Amatic SC", sans-serif;
    position: relative;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
}